<section >
  <div class="container">
    <div class="row">
        <h2>Track</h2>

        <p>Найди где побывала эта карта до тебя.</p>

          <div class="form-group">
            <label>CARD ID:</label>
            <input type="text" class="form-control" ng-model="trackID">
            <button ng-click="track()" type="submit" class="btn btn-primary">Отследить</button>
            </div>
            <div id="mapdiv" class="hidden">
            <label>Места</label>
            <ui-gmap-google-map control="map.mapControl" center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                <ui-gmap-markers fit="true" coords="'coords'" models="map.markers"></ui-gmap-markers>
                 <ui-gmap-polylines models="map.polyline" path="'path'" icons="'icons'"  fit="true"></ui-gmap-polylines>
            </ui-gmap-google-map>
            <div ng-repeat="m in map.markers">{{m.id  | date:'yyyy-MM-dd HH:mm'}} - {{m.comment}} </div>
          </div>
  </div>
</section>